body {
  width: 100%;
  overflow-x: hidden;
  font: normal 0.4rem/1.5 "Microsoft YaHei";
  background: #00243B !important;
  color: #7291A6;
}
input::-webkit-input-placeholder {
  color: #ccc;
}

input:-moz-placeholder {
  color: #ccc;
}

input::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

textarea::-webkit-input-placeholder {
  color: #ccc;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 1px边框 */

.border_4 {
  position: relative;
  box-sizing: border-box;
}

.border_4:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #e6e6e6;
}

.border_top,
.border_right,
.border_bottom,
.border_left {
  position: relative;
}

.border_top:after,
.border_right:after,
.border_bottom:after,
.border_left:after {
  content: "";
  position: absolute;
}

.border_top:after {
  top: 0;
  left: 0;
  border-top: 1px solid #e6e6e6;
  width: 100%;
}

.border_right:after {
  top: 0;
  right: 0;
  border-right: 1px solid #e6e6e6;
  height: 100%;
}

.border_bottom:after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}

.border_left:after {
  top: 0;
  left: 0;
  border-left: 1px solid #e6e6e6;
  height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  .border_4,
  .border_top,
  .border_right,
  .border_bottom,
  .border_left {
    position: relative;
  }
  .border_4:after,
  .border_top:after,
  .border_right:after,
  .border_bottom:after,
  .border_left:after {
    transform: scaleY(0.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .border_4,
  .border_top,
  .border_right,
  .border_bottom,
  .border_left {
    position: relative;
  }
  .border_4:after,
  .border_top:after,
  .border_right:after,
  .border_bottom:after,
  .border_left:after {
    transform: scaleY(0.5);
  }
}

.flex-lr {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
}

.pad-t-20 {
  padding-top: 0.20rem;
}

.pad-lr-20 {
  padding: 0 0.20rem;
}

.pad-lr-30 {
  padding: 0 0.30rem;
}

.pad-tb-20 {
  padding: 0.20rem 0;
}

.pad-tb-30 {
  padding: 0.30rem 0;
}

.pad-tb-10 {
  padding: 0.10rem 0;
}

.pad-10 {
  padding: 0.10rem;
}

.pad-20 {
  padding: 0.20rem;
}

.pad-25 {
  padding: 0.25rem;
}

.pad-30 {
  padding: 0.30rem;
}
.pad-50 {
  padding: 0.50rem;
}
.mar-t-10 {
  margin-top: 0.10rem;
}

.mar-t-20 {
  margin-top: 0.20rem;
}

.mar-t-30 {
  margin-top: 0.30rem;
}

.mar-t-40 {
  margin-top: 0.40rem;
}

.mar-t-50 {
  margin-top: 0.50rem;
}
.mar-t-60 {
  margin-top: 0.60rem;
}
.mar-t-300 {
  margin-top: 3rem !important;
}
.mar-t-80 {
  margin-top: 0.80rem;
}
.mar-t-5 {
  margin-top: 0.5rem;
}

.mar-b-10 {
  margin-bottom: 0.10rem;
}

.mar-b-20 {
  margin-bottom: 0.20rem;
}

.mar-b-30 {
  margin-bottom: 0.30rem;
}

.mar-l-10 {
  margin-left: 0.10rem;
}

.mar-l-20 {
  margin-left: 0.20rem;
}

.mar-l-30 {
  margin-left: 0.30rem;
}

.mar-r-10 {
  margin-right: 0.10rem;
}

.mar-r-20 {
  margin-right: 0.20rem;
}

.mar-lr-30 {
  margin-left: 0.30rem;
  margin-right: 0.30rem;
}

.mar-lr-20 {
  margin-left: 0.20rem;
  margin-right: 0.20rem;
}

.mar-l-4 {
  margin-left: 0.4rem;
}

.bor-radius {
  border-radius: 0.20rem;
  overflow: hidden;
}

.f-28 {
  font-size: 0.28rem;
}

.f-26 {
  font-size: 0.26rem
}

.f-24 {
  font-size: 0.24rem
}

.f-22 {
  font-size: 0.22rem
}

.f-30 {
  font-size: 0.30rem
}

.f-32 {
  font-size: 0.32rem
}

.f-34 {
  font-size: 0.34rem
}

.f-36 {
  font-size: 0.36rem
}

.f-40 {
  font-size: 0.40rem
}

.f-42 {
  font-size: 0.42rem
}

.f-60 {
  font-size: 0.6rem;
}
.f-70 {
  font-size: 0.7rem;
}
.f-80 {
  font-size: 0.8rem;
}

.color-0 {
  color: #000;
}

.color-0 {
  color: #000000;
}

.color-3 {
  color: #333;
}

.color-6 {
  color: #666;
}

.color-9 {
  color: #999;
}

.color-red {
  color: #FF0000 !important;
}

.color-theme {
  color: #7291A6;
}

.color-green {
  color: #0AC159;
}

.color-gray {
  color: #80919D;
}

.color-fff {
  color: #fff;
}

.color-jb {
  color: rgba(51, 51, 51, 1);
  background: linear-gradient(45deg, rgba(16, 230, 172, 1) 0%, rgba(28, 212, 212, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-fff {
  background: #Fff;
}

.align-c {
  text-align: center;
}

.align-r {
  text-align: right;
}

.block-fixed-b {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0.98rem;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 0.20rem 0.0rem rgba(170, 169, 169, 0.35);
  z-index: 66;
}

.bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bold {
  font-weight: 600;
}

.bold_7 {
  font-weight: 700;
}

.line-h-2 {
  line-height: 2;
}

.line-h-1-6 {
  line-height: 1.6;
}

.line-h-1-8 {
  line-height: 1.8;
}

.line {
  text-decoration: line-through;
  text-decoration-line: line-through;
}

button {
  padding: 0;
  margin: 0;
  &:after,
  &:before {
    display: none;
  }
}

.inline {
  display: inline !important;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 0;
}

.no_wrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: wrap;
  word-wrap: break-word;
  word-break: break-word
}

.wrap {
  width: 6.4rem;
  margin: 0 auto;
}

.btn_style {
  width: 6.4rem;
  height: 1.4rem;
  background: #0AC159;
  border-radius: 0.32rem;
  font-size: 0.6rem;
  color: #000;
  margin: 0 auto;
  letter-spacing: 2px;
}

.fix-b {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: rgba($color: #000000, $alpha: 0.5);
  padding: 0.3rem 0.4rem;
  width: 100%;
}

.icon_scan{
  width: 0.44rem;
  height: 0.44rem;
}
.style_input {
  width: 100%;
  padding: 0.4rem 0.02rem;
  font-size: 0.8rem;
  color: #0AC159;
  border-bottom: #fff solid 0.01rem;
  background: transparent;
  box-sizing: border-box;
  line-height: 0.9rem;
}